/* CSS RESET - do not remove 
 Reset default browser styles and provide a consistent starting point 
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

  Set the font 
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
h1 {
  font-size: 30px;
  text-align: center;
  margin-top: 60px;
}
h2 {
  font-size: 20px;
  text-align: left;
  margin-top: 40px;
}
p {
  font-size: 20px;
  line-height: 1.3em;
  margin: 20px 10px;
}
ul {
  text-align: left;
  margin: 10px;
  padding: 0px;

}
.Apple-pie-picture {
  position: relative;
}

.Apple-pie-picture img {
  width: 1000px;
  height: auto;
}
.Apple-pie-picture p {
  position: absolute;
  top: 30%;
  left: 37%;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 100px;
}
